.main {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #001220;
}

.section {
  width: 100%;
  height: 100%;
}

.home-section {
  padding-top: 4rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.home-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
  z-index: 1;
}

.social-icons {
  margin-left: 2.5rem;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1.5rem;
  color: #eaac8b;
  cursor: pointer;
}

.content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.content h2 {
  font-size: 2rem;
  color: #fff;
}

.content h2 span {
  color: #eaac8b;
}

.content h1 {
  font-size: 3.5rem;
  color: #ff6868;
}

.buttons {
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
}

.buttons button {
  width: 12rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 50px;
  outline: none;
  border: 3px solid #ff6868;
  transition: 0.5s ease;
  cursor: pointer;
}

.buttons button:hover {
  background: #ff6868;
  color: #fff;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.fa-solid {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  animation: leftRight 1s ease-in-out infinite alternate;
}

.anim-updown {
  animation: upDown 1s ease-in-out infinite alternate;
}

.social-icons .fa-brands:hover {
  transition: all 0.5s ease-in-out;
}

.social-icons .fa-brands:hover:nth-child(1) {
  color: #316ff6;
}

.social-icons .fa-brands:hover:nth-child(2) {
  color: #0a66c2;
}

.social-icons .fa-brands:hover:nth-child(3) {
  background: -webkit-radial-gradient(
    33% 100% circle,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease-in-out;
}

.social-icons .fa-brands:hover:nth-child(4) {
  color: #ff6868;
}

.social-icons .fa-brands:hover:nth-child(5) {
  color: #fff;
}

@keyframes leftRight {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes upDown {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

/* Tablet Media Query */
@media only screen and (max-width: 768px) {
 
  .home-section {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }
  .home-content {
    flex-direction: column-reverse;
    width: 100%;
    gap: 2rem;
  }

  .content {
    width: 80%;
    text-align: center;
  }

  .content h1 {
    font-size: 2rem;
  }

  .social-icons {
    margin-bottom: 4rem;
    margin-left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: 2.5rem;
  }

  .profile-img {
    order: -1; /* Move the profile image to the top */
  }

  .profile-image {
    width: 300px !important; /* Adjust the width for better responsiveness */
    height: 300px !important; /* Adjust the height for better responsiveness */
  }

  .buttons button {
    width: 100%; /* Make buttons full width on tablets */
  }

  .about {
    padding: 3rem;
    flex-direction: column;
    text-align: center;
  }

  .exp-section {
    display: flex;
    flex-direction: column;
  }

  .vertical-timeline  {
    padding: 0 !important;
    margin: 0 40px !important;
  
   
  }

  .timeline {
    padding: 0;
    margin: 0 10px !important;
    max-width: 650px ;
    overflow-y: scroll ;
    overflow-x: hidden;
  }
}

/* Mobile Media Query */
@media only screen and (max-width: 480px) {
  .home-content {
    padding: 2rem;
  }

  .social-icons {
    margin-top: 1.5rem;
  }

  .buttons button {
    font-size: 0.9rem; /* Adjust button font size for better fit on smaller screens */
  }

  .profile-img {
    order: -1; /* Move the profile image to the top */
  }

  .profile-image {
    width: 250px; /* Adjust the width for better responsiveness */
    height: 250px; /* Adjust the height for better responsiveness */
  }
}

/* @keyframes pulse {
    0% { box-shadow:0 0 8px #FF6868, inset 0 0 8px #FF6868; }
    50% { box-shadow:0 0 16px #FF6868, inset 0 0 14px #FF6868; }
    100% { box-shadow:0 0 8px #FF6868, inset 0 0 8px #FF6868; }
  } */

@keyframes pulse {
  from {
    box-shadow: 0 0 10px #ff6868, 0 0 20px #ff6868, 0 0 30px #ff6868,
      0 0 40px #ff6868, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }

  to {
    box-shadow: 0 0 20px #ff8686, 0 0 30px #ff8686, 0 0 40px #ff8686,
      0 0 50px #ff8686, 0 0 60px #ff8686, 0 0 70px #ff8686, 0 0 80px #ff8686,
      inset 0 0 90px #ff8686;
  }
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.profile-image {
  width: 400px;
  height: 400px;
  background: linear-gradient(#f07099, #fe9176);
  border-radius: 50%;
  box-shadow: 0 0 15px #ff6868, inset 0 0 15px #ff6868;
  position: relative;
  overflow: hidden;
  animation: pulse 2s ease-in-out infinite alternate;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.about-section {
  background: #eeedeb;
  height: 100%;
}

.pic {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}
.about {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: #fff;
}
.text {
  width: 540px;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}

.exp-section {
  width: 100%;
  max-width: 100%;
  position: relative;
  background: #eeedeb;
}

.exp-section h1 {
  padding-top: 100px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
}

.exp-section h1:after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 1em;
  width: 15%;
  border-bottom: 5px solid;
  margin-top: 1.2rem;
}

.vertical-timeline::before {
  /* this is the vertical line */
  background: #fff !important;
}

.empty {
  height: 600px;
  border: 1px solid red;
}

.timeline {
  padding: 0 100px;
  width: 1100px;
  height: 600px;
  overflow-y: auto;
  margin: 0 auto;
}

.custom-timeline:before {
  background-color: #d46600; /* Change this to the desired color for connecting lines */
}
